# Dependencies
node_modules/

# Build output
dist/
build/
.next/
out/

# Env & Secrets
.env
.env.local
.env.*.local

# OS
*.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
